* {
  font-family: 'Roboto';
  padding: 0px;
  margin: 0px;
}

@font-face {
  font-family: 'Syncopate-Bold';
  src: url('../assets/fonts/Syncopate/Syncopate-Bold.ttf');
}

@font-face {
  font-family: 'Syncopate-Regular';
  src: url('../assets/fonts/Syncopate/Syncopate-Regular.ttf');
}

@font-face {
  font-family: 'NeutraText-Bold';
  src: url('../assets/fonts/NeutraText/NeutraText-Bold.ttf');
}